body{
		margin:auto;
		width: 80%;
	}
	#animated_div
	{
	width:120px;
	height:40px;
	font-size: 27px;
	position:relative;
	animation:animated_div 5s 1;
	-moz-animation:animated_div 5s 1;
	-webkit-animation:animated_div 5s 1;
	-o-animation:animated_div 5s 1;
	animation-fill-mode :forwards;
	border-radius:5px;
	-webkit-border-radius:5px;
	}

	@keyframes animated_div
	{
	0%		{transform: rotate(0deg);left:0px;}
	10%		{transform: rotate(0deg);left:0px;}
	100%	{transform: rotate(0deg);left:1000px;}
	}

	@-webkit-keyframes animated_div
	{
	0%		{-webkit-transform: rotate(0deg);left:0px;}
	10%		{-webkit-transform: rotate(0deg);left:0px;}
	100%	{-webkit-transform: rotate(0deg);left:1000px;}
	}

	@-moz-keyframes animated_div
	{
	0%   {-moz-transform: rotate(0deg);left:0px;}
	10%  {-moz-transform: rotate(0deg);left:0px;}
	100% {-moz-transform: rotate(0deg);left:1000px;}
	}

	@-o-keyframes animated_div
	{
	0%   {transform: rotate(0deg);left:0px;}
	10%  {transform: rotate(0deg);left:0px;}
	100% {transform: rotate(0deg);left:1000px;}
	}